{% extends 'index.html' %} {% block title %}<title>Sign in</title>{%endblock%}
{%block main_content %}
<div style="width: 30%; margin: auto">
  <h2 class="mb-5">Sign in</h2>
  {% if message %}
  <p style="color: red">{{message}}</p>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token%} {{ form.as_p}}

    <button class="btn btn-primary mb-3 py-1" type="submit">Login</button>
  </form>
  <p>
    Registrate aqui
    <a href="{% url 'register' %}">Click here to register</a>
  </p>
</div>
{% endblock %}