{% extends 'index.html' %} {% block title %} Resultados de la busqueda {%endblock%}
{% block main_content %}
<div class="container">
    <div class="row col-lg-6 col-md-12 mb-3">
      <h2 class="my-5"> {{title}}</h2>
      {% if movies %}
      <ul class="list-group mb-3">
        {% for movie in movies %}
        <li >
            <div class="flex-fil mb-2" >
                <p class="my-auto"><b class="gradient">Pelicula: </b>{{movie.title}} <br>
                    <b class="gradient">Sinopsis: </b> {{movie.description}}
                </p>
            </div>
        </li>
        {% endfor %}
      </ul>
      <br>
      {% else %}
      <span style="color: red">Sin resultados para la busqueda</span>
  
      {% endif %}
    </div>
  </div>

{%endblock%}