{% extends 'index.html'%} {% block title %}<title>Review </title>
{%endblock%} {% block main_content %}
<div class="row justify-content-center" style="width: 70%; margin: auto">
  {% if user.is_authenticated and req == review.user.user %}
  <div class="d-flex">
    <a
      href="{% url 'delete_review' review.id %}"
      type="button"
      class="btn btn-danger p-1 mb-3 me-3"
      >Delete</a
    >
    <a
      href="{% url 'update_review' review.id %}"
      type="button"
      class="btn btn-primary p-1 mb-3"
      >Update</a
    >
  </div>

  {% endif%} {% endblock %}